---
# Install Vector Service
- name: Install Vector packages
  become: true
  ansible.builtin.yum:
    name: vector-{{ vector_version }}-1.{{ ansible_architecture }}.rpm
    state: present
  notify: Start Vector service
- name: Creates directory
  become: true
  file:
    path: /var/lib/vector/local_logs
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: 0644
  notify: Start Vector service
